@use "../../index.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

.wrapper{
    width: 90%;
    display: flex;
    justify-content: center;
    padding: 200px 5%;
}
.container{
    width: 60%;
    background-color: var(--secondary);
    transition: background-color 0.25s;
    box-shadow: 4px 5px 61px -5px rgba(0,0,0,0.25);
    border-radius: 25px;
    padding: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fromContainer{
    z-index: 3;
    width: 40%;
}
.toContainer{
    width: 40%;
}
.selectors{
    display: flex;
    width: 90%;
    justify-content: space-between;
}
.BaseSelectors{
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}
.amountContainer{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-family: 'Roboto';
    color: var(--font-color);
}
.amount{
    margin-left: 10px;
    box-shadow: 3px 3px 14px 0px rgba(0,0,0,0.25)  inset;
    height: 41.6px;
    width: 120px;
    background-color: var(--primary);
    border-radius: 30px;
    display: flex;
    border: none;
    outline: none;
    padding: 0 15px;
    font-size: 1.3rem;
    font-family: 'Roboto';
    color: var(--light-blue);
    background-color: var(--primary);
}
.buttonContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px 0 ;
    .convertButton{
        height: 41.6px;
        background-color: var(--light-blue);
        color: var(--secondary);
        font-size: 1.2rem;
        font-family: 'Roboto';
        border: none;
        outline: none;
        border-radius: 30px;
        padding: 0 20px;
        &:hover{
            cursor: pointer;
        }
    }
}
.resultContainer{
    a{
        color: inherit;
        &:hover{
            text-decoration: underline;
        }
    }
    max-height:200px;
    opacity: 1;
    transition: max-height 0.25s,opacity 0.75s,height 0.25s;
    width: 80%;
    padding: 0 10%;
    font-family: 'Open Sans', sans-serif;
    .fromP{
        color: var(--secondary-font-color);
        font-weight: 600;
        font-size: 1.3rem;
        margin: 5px 0;
    }
    .resultDiv{
        display: flex;
        justify-content: space-between;
        align-items: center;
        p{
            display: inline-block;
        }
        .toP{
            color: var(--font-color);
            font-weight: 600;
            font-size: 2rem;
            margin: 0;
        }
        .reverseResult{
            font-family: 'Roboto';
            color: var(--secondary-font-color);
            font-size: 1.2rem;
        }

    }
}
.closed{
    max-height:0;
    opacity: 0;
    // height: 0;
    transition: max-height 0.25s,height 0.25s;
}
.opened{
    max-height:200px;
    opacity: 1;
    transition: max-height 0.25s,opacity 0.75s,height 0.25s;
}
@media only screen and (max-width: 1415px) {
    .selectors{
        justify-content: center;
        flex-direction: column;
        gap: 20px;
    }
}
@media only screen and (max-width: 1070px) {
    .container{
        width: 80%;
    }
}
@media only screen and (max-width: 678px) {
    .BaseSelectors{
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    .container{
        padding: 40px;
    }
    .resultContainer{
        .resultDiv{
            flex-direction: column;
            align-items: baseline;
        }
    }
    .fromContainer,.toContainer{
        width: auto;
    }
    
}