@use "../../../../index.css";
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100&family=Pavanam&family=Dosis:wght@300&display=swap');

.container{
    display: flex;
    flex-direction: column;
    
}
.description{
    padding-top: 50px;
    padding-bottom: 20px;
    display: flex;
}
.nameContainer{
    width: 40%;
    display: flex;
    flex-direction: column;
    .symbolContainer{
        height: 65%;
        padding: 0 20px;
        display: flex;
        align-items: center;
        gap: 20px;
        .symbol{
            font-family: "Overpass";
            color: var(--light-blue);
            font-size: 2rem;
            font-weight: bold;
            margin: 0;
            display: inline-block;
            &:hover{
                cursor: pointer;
            }
        }
        .percentage{
            font-family: 'Dosis';
            font-weight: bold;
            color: var(--green);
            letter-spacing: 1px;
            font-size: 1.2rem;
        }
        .negative{
            color: var(--red);
        }
    }
    .fullNameContainer{
        padding: 0 20px;
        .fullName{
            font-size: 1.1rem;
            font-weight: bold;
            font-family: "Overpass";
            color: var(--font-color);
            margin-top: 0;
            letter-spacing: 3px;
            display: inline-block;
        }
    }
}
.priceContainer{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    .price{
        font-family: 'Pavanam', sans-serif;
        font-size: 24px;
        color: var(--light-blue);
    }
}
.iconsContainer{
    width: 30%;
    margin-bottom: 17.6px;
    display: flex;
    align-items: flex-end;
    .icons{
        flex: 1;
        display: flex;
        justify-content: center;
        gap: 15px;
        span{
            svg{
                font-size: 1.2rem;
                fill: var(--font-color);
                color: var(--font-color);
            }
        }
    }
}
.convertor{
    max-height: 0;
    transition: max-height 0.25s;
    .topDiv, .bottomDiv{
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.25s ,visibility 0.25s;
    }
    // overflow-y: hidden;
    // *{
        // visibility: hidden;
        // opacity: 0;
        // transition: opacity 0.25s;
    // }
    
    .topDiv{
        display: flex;
        justify-content: space-between;
        padding: 20px 15%;
        .baseSelector{
            display: flex;
            p{
                font-size: 1.3rem;
                font-family: 'Roboto';
                color: var(--font-color);
            }
            width: 70%;
            align-items: center;
            .selectorContainer{
                padding-left: 20px;
                width: 60%;
            }
        }
        .convertButton{
            background-color: var(--light-blue);
            color: var(--secondary);
            font-size: 1.2rem;
            font-family: 'Roboto';
            border: none;
            outline: none;
            border-radius: 30px;
            padding: 0 20px;
            &:hover{
                cursor: pointer;
            }
        }
    }
    .bottomDiv{
        padding: 20px 15%;
        color: var(--font-color);
        font-family: 'Roboto';
        
        .convertorPar{
            margin: 10px 0;
            font-size: 1.4rem;
        }
        .convertorResult{
            margin: 10px 0;
            font-size: 2rem;
        }
    }
}

.openedConvertor{
    max-height: 250px;
    .topDiv ,.bottomDiv{
        visibility: visible;
        opacity: 1;
    }
    // *{
    //     visibility: visible;
    //     opacity: 1;
    // }
}