
@use '../../../index.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


.container{
    transition: background-color 0.25s;
    background-color: var(--secondary);
    display: inline-flex;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 4px 5px 61px -5px rgba(0,0,0,0.25);
    align-items: center;
    padding-left: 15px;
}
.searchIcon{
    font-size: 1.3rem;
    position: relative;
    top: 3px;
    transition: color 0.2s;
    color: var(--light-blue);
    &:hover{
        cursor: pointer;
    }
}
.input{
    border: none;
    padding-left: 10px;
    letter-spacing: 2px;
    width: 200px;
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    transition: 0.25s;
    background-color: var(--secondary);
    color: var(--light-blue);
    &::placeholder{
        color: var(--secondary-font-color);
    }
    &:focus{
        outline: none;
    }
}

@media only screen and (max-width: 760px) {
    .container{
        padding: 5px 10px 5px 15px;
    }
    .input{
        width: 147.2px;
        font-size: 1rem; 
    }
}