@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Overpass:wght@100&display=swap');
.container{
    width: 100%;
    background: linear-gradient(305deg, rgba(87,33,175,1) 0%, rgba(38,126,223,1) 100%);
    height: 500px;
    position: relative;
}
.coinsContainer {
    flex-grow: 1;
    height: auto;
    position: relative;
    margin-right: 100px;
}
.coins{
    position: relative;
    width: 100%;
    height: 100%;
}
.headerContent {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 150px;
    display: flex;
    flex-direction: row;
}
.headerDescription{
    width: 65%;
    position: relative;
    height: 350px;
    .description{
        width: 250px;
        margin-left: 150px;
        position: absolute;
        top:60px;
        text-align: justify;
        font-family: 'Open Sans', sans-serif;
        color: #eee;
        font-weight: 1.3rem;
        font-size: 1.8rem;
        line-height: 2.5rem;
        b{
            font-weight: 400;
        }
    }
}
.coinsContainer span {
    position: absolute;
    transition: 0.8s ease-out;
    &:hover{
        transform: scale(1.2);
    }
}
.Coin1 {
    animation: c1 13s infinite ;

}
.Coin2 { 
    animation: c2 12s infinite ;

}
.Coin3 {
    animation: c3 10s infinite ;

}
.Coin4 {
    animation: c4 15s infinite ;

}
.Coin5 {
    animation: c5 10s infinite ;

}
.Coin6 {
    animation: c6 8s infinite ;

}
@keyframes c1 {
    0%, 100% {transform: translateY(0);}  
    50% {transform: translateY(30px);}
}
@keyframes c2 {
    0%, 100% {transform: translateY(0);}  
    50% {transform: translateY(-20px);}
}
@keyframes c3 {
    0%, 100% {transform: translateY(0);}  
    50% {transform: translateY(-10px);}
}
@keyframes c4 {
    0%, 100% {transform: translateY(0)}  
    50% {transform: translateY(10px);}
}
@keyframes c5 {
    0%, 100% {transform: translateY(0);}  
    50% {transform: translateY(10px);}
}
@keyframes c6 {
    0%, 100% {transform: translateY(0);}  
    50% {transform: translateY(5px);}
}



@media only screen and (max-width: 880px) {
    .headerDescription{
        height: 250px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .description{
            position: static;
            margin: 0;
            font-size: 2rem;
            width: 220px;
        }
    }
    .container{
        height: 750px;
    }
    .headerContent{
        flex-direction: column;

    }
    .coinsContainer{
        margin: 0;
        display: flex;
        justify-content: center;
        .coins{
            width: 300px;
        }
    }
}

@media only screen and (max-width: 700px) {

}

