@import "@fontsource/overlock-sc";
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100&display=swap');

// side navbar
.sideNav{
    visibility: visible;
    position: fixed;
    width: 200px;
    padding: 40px;
    top: 0;
    right: 0;
    height: 100%;
    backdrop-filter: blur(3px);
    z-index: 1;
    background-color: rgba(46, 43, 43,0.9);
    transition: 0.5s;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    .closeIcon{
        position: absolute;
        left: 10px;
        top: 10px;
        svg{
            width: 30px;
            height: 30px;
            color: rgb(200, 200, 200);
            path{

                fill: white;
            }
        }
    }
    .sideNavItems{
        align-self: center;
        color: rgb(200,200,200);
        margin: 20px;
        font-size: 25px;
        font-family: "Overpass";
        display: block;
        width: 200px;
        text-align: center;
        transition: 0.25s;
        &:hover{
            cursor: pointer;
            text-shadow: 0px 0px 13px rgba(255,255,255,0.64);
        }
    }
}
.hidden{
    width: 0;
    padding-left: 0;
    padding-right: 0;
    visibility: hidden;
    .sideThemeToggler{
        right: -100px;
    }
}
.sideThemeToggler{
    position: absolute;
    top: 15px;
    right: 15px;
    transition: 0.5s;
}
// navbar
.container{
    height: 150px;
    background: linear-gradient(0deg, rgba(236, 157, 157, 0.16) 0%, rgba(198,198,198,0.02) 100%);
    position: fixed;
    left: 0;
    right: 0;
    transition: 0.5s;
    z-index: 1;
}
.navbar{
    margin: 0 100px;
    height: 100%;
    border-bottom: 0.01em rgba(255,255,255, 0.5) solid;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    transition: 0.5s;
}
.logo{
    transition: 0.5s;
    font-family: "Overlock SC";
    font-size: 50px;
    line-height: 61px;
    letter-spacing: 0.15em;
    color: white;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 30px;
    svg{
        height: 46px;
        width: 53px;
        transition: 0.5s;
        position: relative;
        left: -10px;
        path{
            transition: 0.5s;
        }
        rect{
            transition: 0.5s;
        }
    }
}
.navItemsContainer{
    display: flex;
    margin-bottom: 20px;
    margin-right: 100px;
    transition: 0.5s;
    align-items: center;
    a{
        transition: color 0.5s;
        margin: 5px;
        padding: 5px 10px;
        font-family: "Overpass";
        font-size: 24px;
        color: White;
        font-weight: 500;
        transition: 0.5s;
    }
    .sideMenuButton{
        display: none;
        align-self:center;
        margin-bottom: 10px;
        svg{
            height: 40px;
            width: 40px;
            path{
                fill: white;
            }
        }
    }
}
// hover animatoin
.navItems,
.navItems:after,
.navItems:before {
  transition: all .5s;
}
.navItems{
    position: relative;
    transition: all 2s;
    &::after{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: '.';
        color: transparent;
        background: white;
        height: 1px;
    }
    &:hover::after{
        width: 100%;
    }
    &:hover{
        cursor: pointer;
    }
}
// collapsed styles
.collapsedContainer{
    height: 70px;
    background: var(--primary);
    box-shadow: 4px 5px 61px -5px rgba(0,0,0,0.25);
}
.collapsedNavbar{
    margin: 0;
    transition: 0.5s;
}
.collapsedLogo{
    margin: 0;
    transform: color 0.25s;
    color: var(--font-color);
    border: none;
    font-size: 40px;
    margin-left: 30px;
    svg{
        height: 40px;
        width: 45px;
        path{
            transition: fill 0.25s;
            fill:var(--primary);  
        }
        rect{
            transition: fill 0.25s;
            fill:var(--font-color);
        }
        
    }
}
.collapsedNavItemsContainer{
    margin: 0 40px 0 0;
    .collapsedNavItems{
        color: var(--font-color);
        &::after{
            background: var(--font-color);
        }
    }
}
.navItemsContainer{
    .collapsedSideButtonMenu{
        display: none;
        margin: 10px;
        svg{
            height: 30px;
            width: 30px;
            path{
                fill: var(--font-color);
            }   
        }
    }
}
//theme toggler
.ThemeToggler{
    opacity: 0;
    visibility: hidden;
    position: relative;
    transition: 0.5s;
    left: 200px;
}
.collapsedThemeToggler{
    visibility: visible;
    opacity: 1;
    left: 0;
}
// media queries
@media only screen and (max-width: 1000px) {
    .navItemsContainer{
        margin-right: 0;
    }
}
@media only screen and (max-width: 880px) {
    .ThemeToggler{
        display: none;
    }
    .navbar{
        margin: 0 20px;
        .logo{
            font-size: 35px;
            svg{
                height: 40px;
                width: 55px;
            }
        }
    }
    .navItemsContainer{
        a{
            display: none;
        }
        .sideMenuButton{
            display: block;
        }
    }
}



