@use "../../../index.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.container{
    display: inline-flex;
    align-items: center;
}
* {
    scrollbar-width: auto;
}
.itemContainer::-webkit-scrollbar {
    width: 7px;
}
.itemContainer::-webkit-scrollbar-track {
    background: var(--light-blue);
}
.itemContainer::-webkit-scrollbar-thumb {
    background-color: #ded7e0;
    border-radius: 10px;
    border: 4px solid #ded7e0;
}
body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-track{
    box-shadow: inset 0.2px 0.2px 3px var(--secondary-font-color) ;
    background: var(--secondary);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--dark-box-bg);
    border-radius: 2px;
    border: 4px solid var(--dark-box-bg);
}
// body::-webkit-scrollbar-button:single-button {
//     background-color: #bbbbbb;
//     display: block;
//     border-style: solid;
// }
// body::-webkit-scrollbar-button:single-button:vertical:decrement {
//     border-width: 0 8px 8px 8px;
//     border-color: transparent transparent var(--dark-box-bg) transparent;
// }
// body::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
//     border-color: transparent transparent #777777 transparent;
// }
// body::-webkit-scrollbar-button:single-button:vertical:increment {
//     border-width: 8px 8px 0 8px;
//     border-color: var(--dark-box-bg) transparent transparent transparent;
// }
// body::-webkit-scrollbar-button:vertical:single-button:increment:hover {
//     border-color: #777777 transparent transparent transparent;
// }
.selector{
    width: 232.8px;
    border-radius: 50px;
    transition: 0.25s;
    background-color: var(--secondary);
    align-self: stretch;
    box-shadow: 4px 5px 61px -5px rgba(0,0,0,0.25);
    padding: 10px 10px 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    .space{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--light-blue);
        height: 23.8px;
        opacity: 0;
        visibility: hidden;
        z-index: -1;
        transition: 0.25s;
    }
    .openedSpace{
        opacity: 1;
        visibility: visible;
    }
    .base{
        font-family: 'Roboto', sans-serif;
        transform: color 0.25s;
        color: var(--secondary-font-color);
        font-weight: 900;
    }
    .icon{
        svg{
            position: relative;
            top: 2px;
            color: var(--light-blue);
            font-size: 1.1rem;
            transform: rotateZ(0deg);
            transition: transform 0.2s;
        }
    }
    .transformedArrow{
        svg{
            transform: rotateZ(180deg);
        }
    }
}
.text{
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: var(--font-color);
    letter-spacing: 2px;
    margin-right: 10px;
}
.options{
    position: absolute;
    height: 0;
    transition: 0.25s;
    top: 100%;
    left: 0;
    background-color: var(--light-blue);
    width: 100%;
    border-radius: 0 0 20px 20px;
    overflow-y: hidden;
    opacity: 0;
    visibility: hidden;
    .itemContainer{
        .item{
            padding: 10px;
            margin: 0 20px;
            font-family: 'Roboto', sans-serif;
            color: white;
            font-weight: 900;
            border-top: 1px white solid;
            &:first-child{
                border: none;
            }
        }
    }
}
.opened{
    opacity: 1;
    visibility: visible;
    height: auto;
    height: 200px;
    
    .itemContainer{
        height: 100%;
        overflow-y: auto;
    }
}
.inside{
    box-shadow: 3px 3px 14px 0px rgba(0,0,0,0.25)  inset;
    background-color: var(--primary);
}
@media only screen and (max-width: 760px) {
    .text{
        font-size: 1rem;
    }
    .selector{
        width: 180px;
    }
}